<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">

      <h1>Listing Pictures</h1>

      <table class="table table-hover">
        <thead>
        <tr>
          <th>Uploaded</th>
          <th>Url</th>
          <th>Score</th>
          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>
        <% @pictures.each do |picture| %>
            <tr>
              <td><%= picture.created_at %></td>
              <td><%= picture.url %></td>
              <td><%= picture.score %></td>
              <td><%= link_to 'Show', "/pictures/#{picture.url}" %></td>
              <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
              <td><%= link_to 'Destroy', "/pictures/#{picture.url}", method: :delete, data: {confirm: 'Are you sure?'} %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-sm-2"></div>
  </div>


  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="form-group">
    <%= form_tag({:action => 'create', :controller => 'pictures'}, :multipart => true) do %>
        <p>
          <label for="upload_file">Select your image</label>
          <%= file_field 'upload', 'datafile' %>
        </p>
            <p class="help-block">Upload your image.</p>
        <%= submit_tag 'Upload' %>
    <% end %>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>

</div>