<p id="notice"><%= notice %></p>

<div class="container">

<p>
  <strong>Uploaded:</strong>
  <%= @picture.uploaded %>
</p>

<p>
  <strong>Url:</strong>
  <%= @picture.url %>
</p>

<p>
  <strong>Score:</strong>
  <%= @picture.score %>
</p>


<p>
  <img src="data:image/png;base64,<%=@picture.data%>" class="img-responsive"/>
</p>


  <% @picture.comments.each do |comment| %>

  <% end %>

</div>